venv
.venv
.idea
build
dist
*.egg-info
*.mp4
*_build
*_static
.vscode
__pycache__
.codex
experiment
testing_notes.txt
docsenv
ctkfontawesome/svgs/brands
ctkfontawesome/svgs/regulars
ctkfontawesome/svgs/solid
ctkfontawesome/svgs/icons.json
publish.bat
